<nav class="navbar">
    <div class="logo">
        <div class="image">
            <a href="#">
                <img src="../../../assets/box.png" alt="doc-logo">
            </a>
        </div>
        <h4>DOC WAVE</h4>
    </div>
    <div class="list">
      <li><a routerLink="/dashboard" routerLinkActive="active-link">DASHBOARD</a></li>
      <li><a routerLink="/document-upload" routerLinkActive="active-link">UPLOAD DOCS</a></li>
      <li><a (click)="logout()">LOGOUT</a></li>
    </div>
</nav>
  