<div class="details-container">
    <h2 *ngIf="document">Document Details</h2>
    <div class="details-content" *ngIf="document">
        <div class="box">
            <div class="row">
                <div class="col-1">
                    <div *ngIf="fileType == 'unknown'">
                        <img [src]="document.fileSrc" alt="image">
                    </div>
                    <div [ngSwitch]="fileType" *ngIf="fileType !== 'unknown'">
                        <img *ngSwitchCase="'image'" [src]="document.fileSrc" alt="File Image">
                        <img class="pdf" *ngSwitchCase="'pdf'" src="../../../assets/pdf.png" alt="File Image">
                        <img class="pdf" *ngSwitchCase="'video'" src="../../../assets/vlc.webp" alt="File Image">
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group">
                        <h5>Title</h5>
                        <div class="form-text">
                            {{ document.title }}
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Author</h5>
                        <div class="form-text">
                            {{ document.author }}
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Category</h5>
                        <div class="form-text">
                            {{ document.category }}
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Version</h5>
                        <div class="form-text">
                            {{ document.version }}
                        </div>
                    </div>
                    <div class="form-group">
                        <h5>Uploaded Date</h5>
                        <div class="form-text">
                            {{ document.date | date: 'dd-MM-yyyy h:mm' }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <h5>Content</h5>
                <div class="form-textarea">
                    {{ document.content }}
                </div>
            </div>
            <div class="form-button">
                <button (click)="nagivagateTo()">back</button>
            </div>
        </div>
    </div>
    <div class="details-none" *ngIf="!document">
        <div>Document not found.</div>
    </div>
</div>

<!-- <div class="form-inline">
    <div class="form-group">
        <h5>Title</h5>
        <div class="form-text">
            {{ document.title }}
        </div>
    </div>
    <div class="form-group">
        <h5>Author</h5>
        <div class="form-text">
            {{ document.author }}
        </div>
    </div>
</div> -->

<!-- <div class="some">
    <h3><strong>Title:</strong>{{ document.title }}</h3>
<strong>Content:</strong> {{ document.content }}<br>
<strong>Author:</strong> {{ document.author }}<br>
<strong>Version:</strong> {{ document.version }}<br>
<strong>Category:</strong> {{ document.category }}<br>
<strong>Date:</strong> {{ document.date }}<br>
<strong>File:</strong> {{ document.fileSrc }}<br>
</div> -->
